<?php /** @var $block Magento\Framework\View\Element\Template */ ?>


<h1>Hello Magento2 a new page from a Custom' module</h1>
<div class="wrapper" data-bind="scope: 'koCourse'">
    <h1 data-bind="text: title"></h1>
    <h2 data-bind="i18n: 'banana'"></h2>
    <h2 data-bind="text: title1"></h2>
    <span data-bind="i18n: 'Sign In'"></span>
</div>

<div class="wrapper-counter" data-bind="scope: 'koCounter'">
    <form action="">
        <span data-bind="text: numberOfClicks"></span>
        <button type="button" class="primary" data-bind="click: incrementClick">+</button>
        <button type="button" class="primary" data-bind="click: decrementClick">-</button>
    </form>
</div>

<div class="form">
    <ul>
        <li><?= $block->escapeHtml(__('banana')) ?></li>
        <li><?= $block->escapeHtml(__('apple')) ?></li>
        <li><?= $block->escapeHtml(__('orange')) ?></li>
        <li><?= $block->escapeHtml(__('pear')) ?></li>
    </ul>
    <input type="text" placeholder="<?= $block->escapeHtml(__('banana')) ?>">
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "koCourse": {
                        "component": "Elogic_Custom/js/koCourse"

                    },
                    "koCounter":{
                     "component": "Elogic_Custom/js/koCounter"
                    }
                }
            }
        }
    }



</script>
