<div class="account-settings">
    <a class="account-link" href="#">MY ACCOUNT</a>
    <a class="account-currency" href="#">USD ($) </a>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "dropdown": {}
        }
    }
</script>
