<div class="return-link">
    <a href="#">Extended 180 Day Free Returns</a>
</div>

<!--<form action="#" data-mage-init='{"validation":{}}'>-->
<!--    <input type="text" id="input" data-validate='{"required":true,"min-words":5}'  data-mage-init='{ "input": {"wordLength":4,"buttonClass":"button","textChangerPos":"Plus","textChangerNeg":"Negative"} }'>-->
<!--    <label for="input"></label>-->
<!--    <button type="submit" id="button" class="button" value="Click">ClickMe</button>-->
<!--    <button type="reset" id="button1" class="button1" value="Click">Reset</button>-->
<!--</form>-->
