<?php
/**
 * @var $block Template
 */

use Magento\Framework\View\Element\Template;

?>

<!--<div class="phone-numbers" data-mage-init='{"getRich": {}}'>-->
<div class="phone-numbers">
<ul>
<li><a href="tel:1-800-707-5037">US 1-800-707-5037</a></li>
<li><a>INT +353 1 861 1590</a></li>
</ul>
</div>

<!--added Magento2 widget-->
<!--<div id="loader-example" data-mage-init='{"loader": { "icon": "{store URL}/static/{static version}/frontend/Magento/luma/en_US/images/loader-2.gif"}}'>-->
<!--    <h3>Block</h3>-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos itaque numquam placeat quam recusandae velit voluptas. Ad architecto asperiores eos eveniet id nostrum officiis saepe soluta totam voluptate! Debitis, quibusdam.-->
<!--</div>-->
<!--<script>-->
<!--    require(['jquery', 'loader', 'domReady!'], function ($) {-->
<!--        'use strict';-->
<!---->
<!--        $('#loader-example').trigger('processStart');-->
<!--    });-->
<!--</script>-->


