<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_product = $block->getProduct();
?>
<?php if ($_additional = $block->getAdditionalData()) : ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <div class="shipping-info">
            <div>
                <p><span class="lead-time-message">Available for immediate dispatch.</span></p>
                <p><span class="lead-time-configurable-hint"></span></p>
                <p>Standard shipping worldwide from $9.95.</p>
                <p>Free returns within 6 months.</p>
                <p>For complete details, read our <strong><a title="Shipping Policy"
                                                             href="https://www.theirishstore.com/delivery-information">Shipping</a></strong>
                    and <strong><a title="Returns Policy" href="https://www.theirishstore.com/returns-policy">Return</a></strong>
                    policies.</p></div>
        </div>
    </div>
<?php endif; ?>
