<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
$total = $product->getRatingSummary();
$count = $product->getReviewsCount();
$average = $total/$count;
$bestResult = 100;
$result = ($total/$bestResult) * 5 ;
?>

<div class="block reviews-header" id="feefo_reviews">
    <div class="block-content">
        <span class="title">Our Customers Rate This Product </span>
        <div class="rating-info">
            <span class="rating"><?=$result;?></span>
            <span class="outof">/<?=$product->getReviewsCount();?></span>
            <div class="rating-summary">
                <div class="rating-result">
                    <span style="width: <?=$total;?>%;"></span>
                </div>
            </div>
            <img class="feefo-logo" src="https://www.theirishstore.com/static/version1602586299/frontend/TheIrishStore/default/en_US/images/feefo.png" alt="Feefo" width="55px" height="13px">
        </div>
    </div>
</div>
