.breadcrumbs {
    .items {
        font-size: 14px;
        list-style: none none;

        .item {
            a{
                color: @color-black__2;
            }

            &.product {
                color: @color-gray__1;
            }
        }
    }
}
