
.button (@width,@f-size) {
    width: @width;
    background: @color-blue-button__bg;
    border: 1px solid @color-blue-button__bg;
    color: @color-white;
    margin-bottom: 5px;


    span {
        text-transform: uppercase;
        font-family: @font-family-Roboto-condenced;
        font-weight: 700;
        font-size: @f-size;
    }
}
