//////////////////////////////////////colors///////////////////////////////
//
@color-white:white;
@color-white__1: #c9cac8;
@color-white__2: rgb(204, 204, 204);
@color-white__3: #f9f9f9;

//

@color-green-yellow:#a9b089;
@color-green-yellow__1:rgba(169, 176, 137, 0.2);

//

@color-gray__1: rgb(116, 118, 120);
@color-gray__2: #a1a1a1;
@color-gray__3: #c7c7c7;
@color-gray__4: #5f5f5f;

//

@color-black : black;
@color-black__medium:#383838;
@color-black__1: rgb(56, 56, 56);
@color-black__2:#252c26;
@color-black__3:rgb(37, 44, 38);
@color-black__4:#090b09;
@color-black__5:#333;
@color-black__6:#1f1f1f;
@color-black__7:#242424;
@color-black__8:#d3d5d4;

//

@color-golden:#8e734b;

//

@color-red__1:#9a1a28;


//
@color-blue__1:#68a8e0;
@color-blue-button__bg:#22505f;

//
@color-orange__1:#ff5501;
