.review-list {
    .block-title {
        strong {
            font-size: 16px;
            text-transform: uppercase;
            line-height: 28.6px;
            font-weight: 700;
        }

    }

    .block-content {

        //to change color of stars start
        .review-ratings {
            .rating-summary {
                .rating-result {
                    span {
                        &:before {
                            color: @color-golden;
                        }
                    }

                }
            }
        }

        //to change color of stars end

    }
}
