& when (@media-common = true) {

    ///////////////////////////////testing work////////////////////////////////

    .page-wrapper {
        #maincontent {
            .columns {
                .column.main {
                    //////////////////////////right-side//////////////////////////////






                    /////////////////////////////left-side/////////////////////////////
                    .product.media {
                        .gallery-placeholder {
                            .magnifier-preview {
                                &:not(.hidden) {
                                    zoom: 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    ////////////////////////////applied to the header////////////////////////////////////
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    .navigation > ul {
        display: flex;
        justify-content: center;
    }

    .header {
        background: @background-header-green-color;
    }

    .page-title-wrapper {
        display: none;
    }

    //-> start extended

    .return-link {
        display: inline-block;

        a {
            font-size: 16px;
            line-height: 21px;
            font-weight: 700;
            color: @white-color;
            text-decoration: none;

            &:before {
                content: '';
                background: url(../images/image-globe.svg);
                background-repeat: no-repeat;
                display: inline-block;
                width: 15px;
                height: 12px;
                margin-right: 5px;

            }

            img {
                margin-right: 3px;
            }
        }
    }

    //-> end extended


    //-> start phone-numbers

    .phone-numbers {
        @media (max-width: 800px) {
            display: none;
        }
        display: inline-block;

        &:before {
            content: "";
            background: url(../images/header-phone.svg) no-repeat;
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            top: 2px;
        }

        ul {
            display: inline-grid;

            li {
                list-style: none;
                text-decoration: none;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;

                a {
                    color: @black-color;
                    font-size: 14px;
                    font-weight: 700;
                    text-decoration-color: rgb(37, 44, 38);
                    text-decoration-line: none;
                    text-decoration-style: solid;
                }
            }
        }
    }

    //-> end phone-numbers
    .panel.header {
        // adding padding
        padding: 2px 10px !important;

        .header.links {
            display: none;
        }
    }

    .account-settings {
        display: inline-block;
        float: right;

        .account-link, .account-currency {
            color: white;
            text-decoration: none;
        }

    }

    .activeDropdown {
        display: inline-grid !important;
    }

    //    to remove a border-bottom line start and customize a tooltip
    .page-header {
        //to remove a bg from both sides
        .panel.wrapper {
            border-bottom: none !important;
            background: none !important;
        }
    }

    //    to remove a border-bottom line end

    // to remove bg from navigation start
    .nav-sections {
        background: none;
        z-index: 0;

        .section-items.nav-sections-items{
            li.active{
                a{
                    border-bottom-color: @color-black__3;
                }
            }
        }
    }

    // to remove bg from navigation end
    .header {
        &.content {
            padding: 30px 20px 25px !important;
        }
    }
}
