.block.product-custom-container{
    margin-bottom: 20px;

    //up
    .widget{
        .extra-content-main-header-text{
            padding-left: 0;
        }
    }
    //Button
    .actions-toolbar{

      .primary{
          @media (min-width: 768px) {
              width: 70%;
              float: none;
              margin: 0 auto;
              display: block;
          }
          button{
              .button(70%,15px);
              padding: 12px 30px;
              @media (max-width: 768px) {
                  width: 100%;

              }
          }
      }
    }
}
