.reviews-header {
    margin-bottom: 20px!important;
    padding: 14px;
    font-weight: 700;
    text-align: center;
    background: @color-white__3;

    .block-content {
        display: flex;
        justify-content: center;
        align-items: baseline;

        @media (max-width: 540px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title {
            font-weight: 700;
            text-align: center;
        }

        .rating-info {
            display: flex;
            align-items: baseline;

            .rating {
                margin-left: .6rem;
                font-size: 2.6rem;
                color: @color-golden;
            }

            .outof {
                opacity: .5;
                align-self: end;
            }

            .rating-summary {
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                overflow: hidden;
                white-space: nowrap;

                .rating-result {
                    display: block;
                    width: 128px;
                    position: relative;
                    vertical-align: middle;

                    &:before {
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: 1;
                        -webkit-font-smoothing: antialiased;
                        color: @color-gray__3;
                        letter-spacing: 2px;
                        content: '\e605' '\e605' '\e605' '\e605' '\e605';
                        display: block;
                        font-style: normal;
                        font-weight: 400;
                        speak: none;
                        font-size: 24px;
                        height: 24px;
                        line-height: 26px;
                    }

                    span {
                        display: block;

                        &:before {
                            font-size: 24px;
                            height: 24px;
                            line-height: 26px;
                            position: relative;
                            z-index: 2;
                            color: @color-golden;
                            display: block;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
}
