
.product.info.detailed {
    border-bottom: @product-info-detailed__border;
    margin-bottom: 20px;

    .product.data.items {
        margin: 0;
        padding: 0;

        .data.item.title {
            .switch {
                color: @color-black__2;
                font-weight: 700;
                padding: 1px 10px;
            }
        }

        .data.item.content {
            margin: 0;
            padding: 10px 10px 30px;

            .value {
                @media (min-width: 768px) {
                    display: inline-block;
                    width: 59%;
                    vertical-align: top;
                }
                h2{
                    margin-top: 0;
                    text-transform: none;
                    font-weight: 600;
                    letter-spacing: 0;

                }
                p{
                    margin-bottom: 10px;
                }
                ul{
                    padding-left: 40px;
                    margin-bottom: 25px;
                    li{
                        margin-bottom: 10px;
                        list-style-type: disc;

                    }
                }
            }

            .product-details-container {
                @media (min-width: 768px) {
                    display: inline-block;
                    width: 38%;
                    vertical-align: top;
                    margin-left: 15px;
                }
              .our-mission-container{
                  max-width: 430px;
                  margin: 0 auto;
                  padding: 6px;
                  border: 1px solid @color-gray__2;
                  .our-mission-text-container{
                      padding: 15px 25px;
                      border: 1px dashed @color-gray__3;
                      color: @color-black__6;
                      text-align: center;
                      .our-mission-header-text{
                          margin-top: 0;
                          margin-bottom: 10px;
                          color: @color-blue-button__bg;
                          font-size: 16px;
                          line-height: 20px;
                          font-weight: 700;
                          text-align: center;
                      }
                      .our-mission-subtext-paragraph{
                          padding-bottom: 15px;
                          color: @color-gray__4;
                          font-size: 14px;
                          line-height: 18px;
                          font-style: italic;
                          text-align: center;
                      }
                      .our-mission-footer-text{
                          display: inline-block;
                          color: @color-black__7;
                          font-size: 13px;
                          line-height: 20px;
                          text-align: center;
                      }
                  }
              }
            }

            .shipping-info{
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.product.info.detailed {
    .product.data.items {
        ////////////trigger////////
        .data.item.title {
            &.active{
                a{
                    &:after{
                        content: '\e621';
                        position: absolute;
                        right: 10px;
                        top: 1px;
                        font-size: 14px;
                        vertical-align: middle;
                        display: inline-block;
                        font-weight: 400;
                        overflow: hidden;
                        speak: none;
                        text-align: center;
                    }
                }
            }
            float: none;
            .switch{
                padding: 0;
                background-color: #fff;
                border-bottom: none;
                border-right:none;
                border-left: none;
                //border-top: @product-info-detailed__border;
                &:after{
                    position: absolute;
                    right: 10px;
                    top: 1px;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: 400;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                    font-size: 14px;
                    content: '\e622';
                }
                &#tab-label-additional-title{
                    //border-bottom: @product-info-detailed__border;
                }
            }
        }
        ///////////colapsible-part////////////
        .data.item.content {
            float: none;
            margin-left: 0;
            border: none;
        }
    }
}
