.related {
    .block-title {
        border-top: @product-info-detailed__border;
        padding-top: 20px;
    }
    .block-content{
        .block-actions{
            display: none;
        }
    }
}
