
.product-info-main {

    .page-title-wrapper.product {
        .page-title {
            margin-bottom: 0;
        }
    }

    .product-reviews-summary {
        margin-bottom: 10px;
        display: flex;
        align-items: baseline;

        .product.attribute.sku {
            display: inline-block;
            padding-right: 7%;
            color: @color-gray__1;
        }

        .rating-summary {
            align-self: end;
            color: @color-golden;

            .label {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            .rating-result {
                width: 88px;
                display: inline-block;
                position: relative;
                vertical-align: middle;

                &:before {
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                    -webkit-font-smoothing: antialiased;
                    color: #c7c7c7;
                    font-family: 'luma-icons';
                    font-size: 16px;
                    height: 16px;
                    letter-spacing: 2px;
                    line-height: 16px;
                    content: '\e605' '\e605' '\e605' '\e605' '\e605';
                    display: block;
                    font-style: normal;
                    font-weight: 400;
                    speak: none;
                }

                span {
                    &:before {
                        position: relative;
                        z-index: 2;
                        -webkit-font-smoothing: antialiased;
                        color: @color-golden;
                        font-family: 'luma-icons';
                        font-size: 16px;
                        height: 16px;
                        letter-spacing: 2px;
                        line-height: 16px;
                        content: '\e605' '\e605' '\e605' '\e605' '\e605';
                        display: block;
                        font-style: normal;
                        font-weight: 400;
                        speak: none;
                    }
                }
            }
        }

        .reviews-actions {
            font-size: 14px;
            margin-top: 3px;

            a {
                color: @color-black__2;
            }
        }
    }

    .product-info-price {
        width: 66%;
        border: none;
        @media (max-width: 640px ) {
            &:after {
                content: ""; /* This is necessary for the pseudo element to work. */
                display: block; /* This will put the pseudo element on its own line. */
                margin: 0 auto; /* This will center the border. */
                padding-top: 20px; /* This creates some space between the element and the border. */
                border-bottom: 1px solid @color-white__2;
                width: ~"calc(100% - 20px)" !important;
            }

        }

        &:after {
            content: ""; /* This is necessary for the pseudo element to work. */
            display: block; /* This will put the pseudo element on its own line. */
            margin: 0 auto; /* This will center the border. */
            width: 100%; /* Change this to whatever width you want. */
            padding-top: 20px; /* This creates some space between the element and the border. */
            border-bottom: 1px solid @color-white__2;
        }

        .price-box.price-final_price {
            display: inline-flex;
            color: @color-black__2;

            .normal-price {
                order: 2;

                .price-container {
                    .price-label {
                        margin: 0;
                    }

                    span[id^="product-price"] {
                        margin-bottom: 0;
                    }
                }
            }

            .old-price {
                margin-right: 15px;

                .price-container {
                    display: inline-flex;
                    align-items: baseline;
                    padding-top: 7%;

                    .price-label {
                        margin-right: 5%;
                        font-size: 16px;
                        color: @color-black__2;
                    }

                    .price {
                        text-decoration: line-through;
                        font-size: 16px;
                        color: @color-gray__1;
                    }
                }
            }
        }

        #price-injection-save {
            @media (max-width: 1200px ) {
                width: 100%;
            }
            @media (max-width: 640px ) {
                padding: 0;
                width: ~"calc(100% - 10px)";
            }

            float: right;
            padding-top: 2%;
            font-size: 24px;
            color: @color-red__1;
            text-transform: lowercase;
        }
    }

    .product.attribute.overview {
        margin: 25px 0 0 0;

        .ksp-list {
            line-height: 14px;
            padding-left: 15px;
            font-size: 14px;

            li {
                list-style-type: disc;
                margin-bottom: 10px;
            }
        }
    }

    .product-add-form {
        position: relative;

        .product-options-wrapper {
            .swatch-attribute.size {
                .swatch-option-color__chart {
                    margin-left: 58px;
                }

                .swatch-option {

                    height: 30px;
                    background: @color-white;
                    color: @color-black__2;
                    border: 1px solid @color-white__1;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 20px;
                    padding: 4px 8px;
                    min-width: 30px;
                    margin-right: 7px;
                    box-sizing: border-box;
                    text-overflow: ellipsis;

                    &.selected {
                        color: @color-white;
                        background: @color-black__2 !important;
                        border: 1px solid @color-black__2;
                        outline: none;
                    }

                    &:not(.disabled) {
                        &:hover {
                            outline: 1px solid @color-black__2;
                            border: 1px solid @color-white;
                            color: @color-black__5;
                        }
                    }
                }
            }

            .swatch-attribute.color {

                .swatch-option.image {
                    border: 1px solid @color-white__1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 35px;
                    height: 35px;
                    box-sizing: border-box;
                    margin: 0 6px 6px 0;

                    &:first-child {
                        border: 1px solid @color-white;
                        outline: 2px solid @color-black__4;
                    }

                    &.selected {
                        outline: none;
                    }

                    &:focus {
                        box-shadow: 0 0 3px 1px @color-blue__1;
                    }

                    &:not(.disabled) {
                        &:hover {
                            border: 1px solid @color-white;
                            outline: 2px solid @color-black__4;
                        }
                    }
                }
            }

        }

        .product-options-bottom {
            .box-tocart {
                margin: 0;

                .fieldset {
                    margin: 0;
                }

                .field {
                    display: inline;
                    position: absolute;
                    bottom: 72px;
                    left: 257px;


                    .input-group {
                        display: flex;

                        input {
                            width: 40px;
                            text-align: center;
                        }
                    }
                }

                .actions {
                    max-width: 377px;

                    button {
                        width: 100%;
                        background: @color-blue-button__bg;
                        border: 1px solid @color-blue-button__bg;
                        color: @color-white;
                        margin-bottom: 5px;

                        span {
                            text-transform: uppercase;
                            font-family: @font-family-Roboto-condenced;
                            font-weight: 700;

                            &:after {
                                content: url(https://www.theirishstore.com/static/version1602586299/frontend/TheIrishStore/default/en_US/images/tis-icon-shoppingbag--tocart.svg);
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

        }
    }

    .product-social-links {
        max-width: 377px;

        .product-addto-links {
            a {
                margin: 0;
                display: flex;
                flex-direction: row-reverse;

                &:before {
                    margin: 0 0 0 5px;
                }

                &:not(:first-child) {
                    display: none;
                }

                span {
                    font-size: 16px;
                }
            }

        }
    }



}

//////////-> Set to order to display blocks in needed sequence <-/////////////

.product-info-main {
    display: flex;
    flex-direction: column;

    .page-title-wrapper {
        display: block;
    }

    .maintopwebsitebannerpp {
        order: 1;
    }

    .product-info-price {
        order: 1;
    }

    .product-add-form {
        order: 2;

        .product-options-wrapper {
            .fieldset {
                .swatch-opt {
                    display: flex;
                    flex-direction: column-reverse;

                }
            }
        }
    }

    .product-social-links {
        order: 2;
    }

    .product.attribute.overview {
        order: 1;
    }
}
