#tooltip-custom {
    width: 100vw;
    height: 100vh;
    position: static;
    color: @color-black__1;

    h3, h4 {
        font-size: inherit;
        font-weight: inherit;
    }

    ///////////////////////////////////->wrapper for a border////////////////////

    .pschart-addedoverlay {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 300;
        background: #000;
        opacity: .75;
    }

    ///////////////////////////////////->main content///////////////////////////
    .pschart-popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 15px;
        overflow-y: auto;
        text-align: center;

        .pschart-popup-internal {
            margin: 5px auto 5% auto;
            background-color: @color-white;
            padding: 30px;
            min-width: 250px;

            .pschart-content {
                position: relative;
                padding: 0;

                p {
                    margin-bottom: 10px;
                    font-family: @font-family-Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                }

                .close {
                    &.pschart-sizechart-link-close {
                        font-size: 2rem;
                        background-color: @color-white;
                        color: #252c26;
                        right: -4px;
                        position: absolute;
                        font-weight: 400;
                        width: 15px;
                        height: 15px;
                        text-align: center;
                        line-height: 15px;
                        cursor: pointer;
                    }
                }

                .window-title {
                    color: @color-black__medium;
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 1;
                    padding: 0 0 15px;
                    text-align: left;
                    font-family: @font-family-Helvetica-Neue;

                    h3 {
                        font-size: 2.4rem;
                        font-weight: 700;
                        text-align: left;
                        margin: 15px 0 10px;
                    }

                    h4 {
                        font-size: 1.9rem;
                        letter-spacing: normal;
                        text-transform: none;
                        text-align: left;
                        margin-bottom: 0;
                        margin-top: 2rem;
                    }
                }

                .size-guide-chart-metric-switch {
                    padding: 0;
                    list-style-type: none;
                    text-align: left;
                    margin: 0 0 5px;

                    li {
                        border: 1px solid @color-white__1;
                        display: table-cell;
                        padding: 11px 10px;
                        margin: 0;
                        cursor: pointer;

                        &:first-child {
                            border-right: none;
                        }

                        &.active {
                            font-weight: 700;
                            background-color: @color-green-yellow;
                        }
                    }
                }

                table {
                    border-color: grey;

                    tr {
                        &:first-child {
                            background-color: @color-green-yellow__1;
                        }
                    }

                    th, td {

                        border: 1px solid @color-white__1;
                        padding: 11px 10px;
                        text-transform: inherit;
                        font-size: 1.4rem;
                        text-align: center;
                    }

                    &.table_size {
                        width: 100%;
                        border-collapse: collapse;
                        display: none;

                        &.active {
                            display: table;
                        }

                    }
                }

                .how-to-measure-container {
                    border-top: 1px solid @color-white__1;
                    padding-top: 20px;

                    .how-to-measure-image {
                        display: inline-block;
                        vertical-align: top;
                        width: 34%;
                        @media (max-width: 470px) {
                            width: 100%;
                        }
                    }

                    .how-to-measure-content {
                        @media (max-width: 470px) {
                            width: 100%;
                            padding: 10px 0 0;
                        }
                        display: inline-block;
                        vertical-align: top;
                        width: 63%;
                        padding-left: 2%;

                        div {
                            text-align: left;
                            .measure-text {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            .measure-heading {
                                .measure-text;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .modal-footer{
                    text-align: right;
                    @media (max-width: 470px) {
                        text-align: left;
                    }
                    .pschart-sizechart-link-close{
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 1.5rem;
                        background-image: none;
                        background: @color-white;
                        border: 1px solid @color-black__2;
                        color: @color-black__2;
                        cursor: pointer;
                        display: inline-block;
                        font-family: @font-family-Roboto;
                        font-weight: 700;
                        margin: 0;
                        padding: 6px 15px 8px;
                        line-height: 1.6rem;
                        vertical-align: middle;
                    }
                }

            }

        }
    }
}



