@header-bg-color:#2d2b31;
@white-color:#fff;
@background-header-green-color:#a9b089;
@black-color:#000;
@color-0: #ffffff;
@nav-bag-color:#e0e1dd;
@banner-discl-color:#eaeaea;
@main-top-bg:#f9f9f9;
@main-feature-blac-grey-color:#252c26;