@import "colors";

.container {
    max-width: 1240px;
    margin: 0 auto;
    @media (max-width: 800px) {
        padding-top: 10px;
    }
}

.top-line {
    background: @header-bg-color;
    text-align: center;
    padding: 10px 0;
    max-width: 1280px;
    margin: 0 auto;

    h3 {
        color: @white-color;
        font-size: 18px;
        font-style: normal;
        margin: 0 0 5px;
    }

    p {
        color: @white-color;
        font-size: 13px;
        font-style: normal;
        margin: 0;

        span {
            font-weight: 700;
        }
    }
}

.above-menu {
    @media (max-width: 800px) {
        display: none;
    }
    background: @background-header-green-color;
    padding: 5px 0;

    .account-line {
        @media (max-width: 800px) {
            display: none;
        }
        display: flex;
        justify-content: space-between;

        .return-link {
            a {
                font-size: 16px;
                line-height: 21px;
                font-weight: 700;
                color: @white-color;
                text-decoration: none;

                &:before {
                    content: '';
                    background: url(../images/image-globe.svg);
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 15px;
                    height: 12px;
                    margin-right: 5px;

                }

                img {
                    margin-right: 3px;
                }
            }
        }

        .account-settings {
            a {
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
                text-decoration: none;
                color: @white-color;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                &.account-link {
                    &:after {
                        content: '';
                        width: 5px;
                        height: 5px;
                        border-right: 2px solid @white-color;
                        border-bottom: 2px solid @white-color;
                        display: inline-block;
                        -moz-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        margin-left: 5px;
                        margin-bottom: 3px;
                    }
                }

                &.account-currency {
                    position: relative;

                    span {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: @white-color;
                        display: inline-block;
                        position: relative;
                        top: 1px;


                        &:after {
                            content: '';
                            width: 5px;
                            height: 5px;
                            border-right: 2px solid @background-header-green-color;
                            border-bottom: 2px solid @background-header-green-color;
                            display: inline-block;
                            -moz-transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            margin-left: 4px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }
}

.below-menu {
    background: @background-header-green-color;
    padding: 25px 0;
    @media (max-width: 800px) {
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        @media (max-width: 800px) {
            display: block;
        }


        .header-number {
            .phone-numbers {
                @media (max-width: 800px) {
                    display: none;
                }

                &:before {
                    content: "";
                    background: url(../images/header-phone.svg) no-repeat;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                }

                ul {
                    display: inline-grid;

                    li {
                        list-style: none;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;

                        a {
                            color: @black-color;
                            font-size: 14px;
                            font-weight: 700;
                            text-decoration-color: rgb(37, 44, 38);
                            text-decoration-line: none;
                            text-decoration-style: solid;
                        }
                    }
                }
            }
        }

        .header-logo {
            width: 140px;
            height: auto;

            button {
                display: none;

            }

            a {
                display: none;

                &:after {
                    content: url("../images/shoppingbag.svg");
                    background-size: 28px 28px;
                    height: 28px;
                    width: 28px;
                    display: inline-block;
                    position: relative;
                    top: 9px;
                    margin-left: 10px;
                }
            }

            //media querry for hidden buttons start

            @media (max-width: 800px) {
                display: flex;
                justify-content: space-between;
                width: auto;
                height: 15vh;
                padding: 0 20px;
                button {
                    display: inline;
                    border: 2px solid white;
                    background: @background-header-green-color;
                    padding: 6px;
                    color: white;
                }

                div {
                    img {
                        position: relative;
                        top: -22px;
                        width: 160px
                    }

                    &:nth-child(3) {
                        a {
                            position: relative;
                            top: -6px;
                            display: inline;
                        }
                    }
                }

                div + div > button {
                    border: none;
                }

                .fa-search:before {
                    font-size: 21px
                }
            }

            //media querry for hidden buttons end

            img {
                position: absolute;
                width: 290px;
                max-height: 110px;
                bottom: -42px;
            }
        }


        .header-input {
            @media (max-width: 800px) {
                padding: 0 0 10px;
            }

            .header-search-box {
                a {
                    @media (max-width: 800px) {
                        display: none;
                    }

                    &:after {
                        content: url("../images/shoppingbag.svg");
                        background-size: 28px 28px;
                        height: 28px;
                        width: 28px;
                        display: inline-block;
                        position: relative;
                        top: 11px;
                        margin-left: 10px;
                    }
                }

                //hidden input start//
                input#input-header-hidden {
                    display: none;

                    @media (max-width: 800px) {
                        display: block;
                        width: calc(100% - 40px);
                        margin: 0 auto;
                        height: 5vh;
                        border: none;
                        &::placeholder {
                            color: @black-color;
                            font-size: 14px;
                            font-stretch: 100%;
                            font-weight: 400;
                        }
                    }
                }

                //hidden input end//
                input#input-header {
                    font-family: Roboto, Roboto, Helvetica, serif;
                    min-height: 33px;
                    padding: 0 0 0 10px;

                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    font-size: 14px;
                    font-stretch: 100%;
                    font-weight: 400;
                    height: 32px;
                    letter-spacing: normal;
                    line-height: 20px;

                    @media (max-width: 800px) {
                        display: none;
                    }
                    @media (min-width: 768px) {
                        width: 160px;
                    }
                    @media (min-width: 840px) {
                        min-width: 240px;
                    }


                    &::placeholder {
                        color: @black-color;
                        font-size: 14px;
                        font-stretch: 100%;
                        font-weight: 400;
                    }
                }

                button {
                    @media (max-width: 800px) {
                        display: none;
                    }
                    position: relative;
                    background: #fff;
                    border: none;
                    @media (min-width: 768px) {
                        right: -160px;
                    }
                    @media (min-width: 840px) {
                        right: -240px;
                    }
                }
            }
        }
    }
}
