@import "custom-classes";
@import "colors";

.feature-middle-advertise-top-banner {
  .ship-container {
    .mb-20px;
    padding: 25px 20px;
    background-image: url("../images/main-middle-bg-image.png");
    background-position: 50% 50%;
    background-size: 620px;

    p {
      text-align: center;
      color: rgb(32, 32, 32);
      display: block;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 3px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;

      &:nth-last-child(1) {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        height: 20px;
        letter-spacing: 1px;
      }
    }
  }

  .ship-banner {
    .mb-20px;

    .ship-banner-img {
      .d-flex;
      justify-content: flex-end;
      align-items: center;
      background-image: url("../images/main-middle-bg.jpg");
      background-size: cover;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      height: 250px;
      line-height: 20px;
      @media (max-width: 650px){
      background-position-x: -135px;
      }

      .ship-container-div {
        margin-right: 185px;
        @media (max-width: 768px){
          margin-right: 45px;
        }
        @media (max-width: 600px){
          margin-right: 5px;
        }

        .font-f-Roboto;
        color: @white-color;
        text-align: center;

        .ship-container-div-upper {
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          height: 67.2px;
          line-height: 34px;
          margin-bottom: 5px;
          text-align: center;
          text-shadow: rgb(0, 0, 0) 2px 2px 9px;
        }

        .ship-container-div-middle {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }

        .ship-container-div-bottom {
          display: inline-block;
          padding: 8px 35px;
          background-color: rgb(255, 255, 255);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          height: 20px;
          letter-spacing: 1px;
          line-height: 20px;
          margin-top: 15px;
          cursor: @black-color;

          &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.8);
          }

          a {
            color: @black-color;
          }

        }
      }
    }
  }
}