
//block devoted for the button to click to the slide menu to appear

.transl-80{
  transform: translateX(80%);
}
.transl-0{
  transform: translateX(0%);
}
.overflow-y-hidden{
  overflow-y:hidden;
}
.overflow-y-scroll{
  overflow-y: scroll;
}