@import "colors";
@import "fonts";

.navbar {
  background: @nav-bag-color;
  @media (max-width: 800px){
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;

    ul {

      li {
        display: inline-block;
        border-bottom: 3px solid transparent;

        &:first-child {
          border-bottom: 3px solid black;
        }

        &:hover {
          border-bottom: 3px solid black;

          .navbar__ul__li__ul-hidden {
            display: block;

            li {
              border: none;

              a {
                text-decoration-line: none;

                &:hover {
                  background: white;
                }
              }
            }
          }
        }


        .navbar__ul__li__ul-hidden {
          display: none;
          position: absolute;
          background: #e0e1dd;
          padding: 15px 5px 20px 25px;
          margin-top: 2px;

          .navbar__ul__li__ul-hidden__float_left {
            float: left;

            li {
              &:first-child {
                border-bottom: 1px solid @black-color;
                margin-right: 10px;
                margin-bottom: 7px;
                margin-left: 5px;

              }
            }
          }

          li {
            display: block;

            a {
              cursor: pointer;
              display: block;
              font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              height: auto;
              letter-spacing: normal;
              line-height: 20px;
              margin-right: 15px;
              padding: 5px;
            }
          }
        }

        a {
          .font();
          color: @black-color;
          padding: 0 10px;
          margin-right: 5px;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}
