@import "custom-classes";

.youtube {
  .mb-20px;

  .container {
    .flex {
      .d-flex;
      justify-content: center;
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .youtube-c-l{
        .youtube-c-wr-info {
          @media (max-width: 768px) {
            .mb-20px;
          }
        }
      }

      .youtube-c-l, .youtube-c-r {

        .youtube-c-wr-pl {
          @media (max-width: 768px) {
            height: 42vw;
          }
          @media (min-width: 768px) {
            width: 45vw;
            height: 23vw;
          }
          @media (min-width: 1240px) {
            width: 40vw;
            height: 22vw;
            &:first-child {
              margin-right: 20px;
            }
          }
          margin-bottom: 25px;

          iframe {
            height: 100%;
            width: 100%;
            border: 6px solid #a9b089;
          }
        }

        .youtube-c-wr-info {
          text-align: center;
          color: #a9b089;

        }

        .yb-i-up {
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          height: 25.6px;
          line-height: 26px;
          padding-bottom: 10px;
        }

        .yb-i-md {
          max-width: 600px;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          height: 40px;
          line-height: 20px;
          margin-bottom: 15px;
          text-indent: 10px;
        }

        .yb-i-bt {
          button {
            background-clip: border-box;
            background-color: #ffffff;
            border: 1px solid black;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            height: 40px;
            letter-spacing: 1px;
            line-height: 16px;
            padding: 9px 24px;
            text-transform: uppercase;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
